
#home-page a,
#home-page a:hover {
  text-decoration: none;
}

#home-page .team-list {
  padding-top: 12px;
  padding-right: 30px;
}

#home-page .team-list ul {
  list-style: none;
  padding-top: 15px;
  padding-left: 10px;
}

#home-page .team-list ul li i {
  margin-right: 10px;
}

#home-page .cloud-sections {
  padding-top: 12px;
  padding-left: 45px;
  position: relative;
}

#home-page #new-cloud-btn,
#home-page #new-user-btn {
  position: absolute;
  right: 22px;
  top: 15px;
  background-color: transparent;
  border-color: transparent;
}

#home-page #new-user-btn {
  right: 48px;
}

#home-page hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 0;
  clear: both;
  margin-top: 10px;
  margin-bottom: 15px;
  border-top: none;
  border-bottom: 1px solid #40526d;;
}

@media(min-width: 768px) {

}

@media(max-width: 768px) {
  #home-page h3 {
    padding-left: 10px;
  }
  #home-page .api-install-label {
    padding-left: 10px;
  }
  #home-page .cloud-sections {
    padding-left: 15px;
  }
  #home-page .team-list {
    padding-right: 0px;
  }
  #home-page #new-cloud-btn,
  #home-page #new-user-btn {
    right: 22px;
  }
}