
#home-page a,
#home-page a:hover {
  text-decoration: none;
}

#home-page .new-cloud-button {
  margin: auto;
  display: block;
}

#home-page #new-cloud-btn {
  font-size: large;
  padding: 10px;
  width: 100%;
}

#home-page .cloud-sections {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

#home-page .cloud-sections hr {
  display: block;
  height: 1px;
  border: 0;
  border-bottom: 1px solid #c5ccd3;
  padding-top: 20px;
  margin: 0;
  clear: both;
}

@media(min-width: 768px) {

}

@media(max-width: 768px) {
}