

/* TODO https://github.com/rtsao/csjs */

color-scheme {

  /* blue accent */
  color: #2196f3;
  /* orange accent */
  color: #FF851A;

  /* dark background */
  color: #242e3d;
  /* medium dark background  */
  color: #505864;
  /* medium light background  */
  color: #E1E3E5;
  /* white background */
  color: #ffffff;

  /* white text */
  color: #ffffff;
  /* muted text */
  color: #505864;
  /* black text */
  color: #000000;


  /* blue */
  color: #2196f3;
  /* orange */
  color: #FF851A;
  /* red */
  color: #d62728;
  /* green */
  color: #2ca02c;
  /* purple */
  color: #9467bd;
  /* brown */
  color: #8c564b;

}

html,
body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

#react-root {
  height: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.app-wrapper {
  height: 100%;
}

.page-content-wrapper {
  padding-top: 50px;
  height: 100%;
}

.page-content {
  height: 100%;
}

.sidebar-page-wrapper {
  /* padding-left: 50px; */
  height: 100%;
}

.sidebar-page-content {
  position: relative;
}

div {
  box-sizing: border-box;
}

pre {
  background-color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1 {
  color: #2196f3;
  font-size: 2em;
}

a:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

a i {
  color: #333;
}

a i:hover {
  color: #2196f3;
}

button {
  background-color: white;
  border: none;
}
button:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}
button:active {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  background-color: #2ca02c;
}

button i {
  color: #333;
}

button i:hover {
  color: #2196f3;
}

button.btn-default {
  border: none;
}

button.btn.btn-default:hover,
button.btn.btn-default:hover i {
  color: #2196f3;
  background-color: transparent;
}

button.btn.btn-default:active {
  box-shadow: none;
}

.paper {
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1),0px 2px 2px 0px rgba(0,0,0,0.1),0px 3px 1px -2px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1),0px 2px 2px 0px rgba(0,0,0,0.1),0px 3px 1px -2px rgba(0,0,0,0.1);
  z-index: 4;
}

.app-message {
  position: absolute;
  top: 0px;
  right: 25%;
  width: 450px;
  height: 80px;
  z-index: 99999;
  background-color: white;
  padding: 10px;
}

.btn-primary {
  background-color: #505864;
  border-color: #505864;
}
.btn-primary:hover {
  background-color: #2196f3;
  border-color: #2196f3;
}

.row,
.col {
    padding:0;
    margin:0
}


.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}
.modal .modal-dialog {
  min-width: 30%;
}
.modal .modal-body {
  overflow-y: scroll;
  padding: 0;
}
.modal .form-help-text {
  font-size: small;
  color: #505864
}
.modal .ReactCodeMirror .CodeMirror {
  height: auto;
}
.modal .modal-title {
  display: inline-block;
}


.CodeMirror-linenumbers {
  background-color: #E1E3E5;
}
.ace_gutter {
  background: #E1E3E5 !important;
  /* border-top: 1px solid #d7d7d7; */
}
.modal-body .ace_gutter {
  border-top: none;
}

@media(min-width: 768px) {

}

@media(max-width: 768px) {

}
