
.gallery {
    padding:5px;
}

.gallery .gallery-item-wrapper {
    padding: 3px;
}

.gallery .gallery-item {
  border-radius: 2px;
  border: solid 1px #ccc;
  overflow:  hidden;
  background: white;
  max-height: 120px;
  max-width: 200px;
  overflow: hidden;
}

.gallery.dark .gallery-item {
  background: #0291E3;
  box-shadow:  none;
  max-height: 120px;
  max-width: 200px;
  overflow: hidden;
}

.gallery a,
.gallery a:hover {
  text-decoration: none;
}

.gallery.dark a,
.gallery.dark a:hover {
  color: white
}

.gallery .gallery-item-preview {
  padding: 5px;
}

.gallery .gallery-item-preview img {
  margin: auto;
  margin-bottom: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

.gallery .gallery-item .iframe-preview {
  width: 1815px;
  height: 1050px;
  overflow: hidden;
}

.gallery .gallery-item .iframe-preview iframe {
  width: 76.92% !important;
  height: 76.92% !important;
  -webkit-transform: scale(.135);
  transform: scale(.135);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  overflow: hidden;
  border: none;
}

.gallery .gallery-item-title {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.gallery .gallery-item i {
  font-size: larger;
  color: #505864;
  padding: 10px;
}

/*@media only screen and (min-width:  1224px) {
  .gallery .gallery-item {
    width: 19.5%;
    margin-left: 0.38%;
  }
  .gallery.dashbords .gallery-item {
    width: 32.7%;
    margin-left: 0.38%;
  }
}

@media only screen and (min-width:  768px) and (max-width:  1024px) {
  .gallery .gallery-item {
    width: 23.5%;
  }
  .gallery.dashbords .gallery-item {
    width: 48.5%;
  }
}

@media only screen and (min-width:  320px) and (max-width:  480px) {
  .gallery .gallery-item {
    width: 97%;
  }
}*/