
.code-tab .ReactCodeMirror .CodeMirror {
    height: auto;
}

.code-tab .ReactCodeMirror .CodeMirror .CodeMirror-scroll {
    min-height: 800px;
}

.code-tab .col {
    padding: 0;
}

.code-tab .code {
    padding: 0;
    border-left: 3px solid #e7ebee;
}

.code-tab .run-button {
    font-size: 24px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}