
.code-tab .ReactCodeMirror .CodeMirror {
    height: auto;
}

.CodeMirror-gutters {
    background-color: #e7ebee;
    border: none;
    border-top: solid 1px #ddd;
}

.code-tab .ReactCodeMirror .CodeMirror .CodeMirror-scroll {
    min-height: 800px;
}

.code-tab .col-md-6 {
    padding: 0;
}

.code-tab .template-select {
    font-size: 24px;
    position: absolute;
    left: -72px;
    z-index: 1000;
    background-color: white;
    padding-left: 10px;
    padding-right: 5px;
}