.page-content.auth .panel.panel-default {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 20px;
}

.page-content.auth .panel-body {
    padding: 30px;
}

.page-content.auth .auth input.btn:focus,
.page-content.auth .auth input.btn:active,
.page-content.auth .auth input.btn:active:focus {
    outline: none;
    border-color: #505864;
    background-color: #505864;
}

.page-content.auth .btn {
    font-weight: 300;
    border-radius: 4px;
}

.page-content.auth .sign-reset {
    margin-top: 5px;
}