.auth {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color:#4C5763;
}

.auth .panel {
  border: none;
}
.auth .signin-panel {
  padding-top: 150px;
}

.auth .signin-panel .panel {
  border-radius: 0px;
}

.auth .panel-heading {
  border: none;
}

.panel-default>.panel-heading {
  background-color: #F1F2F4;
  height: 42px;
  padding: 12px 15px;
}

.auth .panel-body {
  padding: 65px;
  padding-top: 75px;
}

.auth .form-control {
  height: 42px;
  font-size: 16px;
}

.auth .signup {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}