
.tabs {
    height: 100%;
    background-color: #FFF;
}

.tabs .tab-pane,
.tabs .tab-pane .tab-content {
    height: 100%;
}


.tabs .tabs-menu-item,
.tabs .tabs-menu-item a {
    border-radius: 0;
    cursor: pointer;
}

.tabs .tabs-menu-item,
.tabs .tabs-menu-item button {
    border-radius: 0;
    cursor: pointer;
    height: 40px;
    border: none;
    color: #4C5763;
    background-color: #e7ebee;
    outline: none;
}

.tabs .tabs-menu-item button {
    padding: 10px 15px;
}
.tabs .tabs-menu-item button:hover {
    color: #0291E3;
}
.tabs .tabs-menu-item.active button:hover {
    color: #4C5763;
}
.tabs .tabs-menu-item.active,
.tabs .tabs-menu-item.active button {
    background-color: #FFF;
    cursor: default;
}

.tabs .tabs-menu-item,
.tabs .tabs-menu-item button.active:focus {
    outline: none
}

.tabs .nav.nav-tabs {
    border:none;
}

.tabs .nav-tabs>li {
    margin-bottom: 0;
}

.tabs .nav-tabs>li.active>a,
.tabs .nav-tabs>li.active>a:focus,
.tabs .nav-tabs>li.active>a:hover {
    /* border-bottom: 1px solid #e7ebee; */
    border-radius: 2px;
    box-sizing: border-box;
}

.tabs .nav>li>a:focus, .nav>li>a:hover {
    background-color: #e7ebee;
}

.tabs .nav>li>a:focus,
.tabs .nav>li>a:hover {
    border:none
}

.tabs .nav-tabs>li>a,
.tabs .nav-tabs>li>a:hover  {
    margin-right:0;
    border:none;
}

.tabs .item-options i {
  font-size: x-large;
  /* color: #0291E3; */
}

.tabs .nav-tabs {
  background-color: #e7ebee;
  box-shadow: 0px -4px 3px -3px rgb(187, 187, 187);
  border: none;
}

.tabs .item-options .btn-default,
.tabs .item-options .btn-default:hover,
.tabs .item-options .btn-default:focus {
  background-color: transparent;
  border: none;
  outline: none;
}
