#filter input,
#filter .btn {
  border: none;
  box-shadow: 1px 1px 2px 0 #ccc;
  height: 34px;
}

#filter i {
  font-size: x-large;
  color: #1f77b4;
}

#filter .btn,
#filter button {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

#filter .btn:focus,
#filter button:focus {
  outline: none;
}

#filter #results-filter {
  position: absolute;
  right: 10px;
}

#filter #hide-search {
  position: absolute;
  right: 10px;
  top: -2px;
}
