# Config file

# DB Selection. May be one of MONGODB or DYNAMODB
RESOURCES_DB=MONGODB

# MongoDB Settings. Required if RESOURCES_DB=MONGODB
MONGODB_SERVER_NAME=localhost
MONGODB_SERVER_PORT=27017
MONGODB_DB_NAME=grokeryapi
MONGODB_DB_USER=
MONGODB_DB_PASS=

# General AWS settings
AWS_ACCESS_KEY_ID=<aws access-key-id-here>
AWS_SECRET_KEY=<aws-secret-key-here>
AWS_REGION=US_WEST_2
