# aws api host access keys can be created in IAM (https://console.aws.amazon.com/iam/home#/home)
API_HOST_AWS_ACCESS_KEY_ID=
API_HOST_AWS_SECRET_KEY=

# change this to whatever region you want to use
API_HOST_AWS_REGION=us-west-2

# a random, long, sequence of characters that only the server knows (https://github.com/dwyl/learn-json-web-tokens)
JWT_PRIVATE_KEY=

# in millies, so the example below would be 8 hours
JWT_TIMEOUT=28800000

# usually `test` or `prod`
STAGE=prod
