
.template-modal .modal-dialog {
    min-width: auto;
    width: 675px;
}

.template-modal .modal-body {
    overflow:auto; 
    height:400px;
    margin:0;
    padding:0;
}

.template-modal .modal-dialog ul li {
    display: block;
    float: left;
    list-style: none;
    cursor: pointer;
    margin: 5px;
    border: 1px solid #e7ebee;
}

.template-modal .modal-dialog ul li img {
    height: 100px;
    width: 185px;
}