
#D3DataFlow {
     background-color: #E1E3E5;
}

#flow {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.flow-overlay {
    fill: none;
    stroke-width: 1px
}

#mark-end-arrow {
    fill: #373F48;
    stroke: #373F48;
}


/* Nodes */
g {
    fill: #fff;
    stroke: #373F48;
    stroke-width: 0.5;
    /* -webkit-filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .2)); */
    /* filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .2)); */
}

g.undefined {
    fill: #E1E3E5;
    stroke: #373F48;
}

g:hover {
    stroke: #2196f3;
    stroke-width: 3;
}

g.selected {
    stroke: #2196f3;
    stroke-width: 4;
}

g.selected:hover {
    stroke: #2196f3;
    stroke-width: 5;
}

g.colored.job-node {
    fill: #ff9233;
    stroke: #ff9233;
    stroke-width: 0;
}

g.colored.chart-node {
    fill: #ff9233;
    stroke: #ff9233;
    stroke-width: 0;
}

g.colored.source-node {
    fill: #2196f3;
    stroke: #2196f3;
    stroke-width: 0;
}

g.colored.board-node {
    fill: #ff9233;
    stroke: #ff9233;
    stroke-width: 0;
}

g.colored:hover {
    fill: white;
    stroke: #d62728;
    stroke-width: 2;
}

g.colored.selected {
    fill: white;
    stroke: #d62728;
    stroke-width: 3;
}

g.colored.selected:hover {
    fill: white;
    stroke: #d62728;
    stroke-width: 4;
}


/* Text / Icons */
g text {
    font-size: 20px;
    text-anchor: middle;
    pointer-events: none;
    fill: #373F48;
    stroke: #373F48;
    stroke-width: 1;
}

g.colored text {
    fill: #fff;
    stroke: #fff;
    stroke-width: 0;
    font-weight: 100;
}

g.colored:hover text,
g.colored.selected text,
g.colored.selected:hover text {
    fill: #373F48;
    stroke: #373F48;
}

g text.node-icon {
    font-size: 24px;
    font-weight: 100;
    text-anchor: middle;
    pointer-events: none;
    fill: #373F48;
}

g.colored text.node-icon {
    font-size:24px;
    font-weight: 100;
    text-anchor: middle;
    pointer-events: none;
    fill: white;
    stroke-width: 0;
}


/* Edges */
path.link {
    fill: none;
    stroke: #373F48;
    stroke-width: 3px;
    cursor: default;
}

path.link:hover {
    stroke: #2196f3;
    stroke-width: 4px;
}

path.link.selected {
    stroke: #2196f3;
    stroke-width: 5px;
}

path.link.selected:hover {
    stroke: #2196f3;
    stroke-width: 5px;
}


/*  */
g.inactive,
g.inactive text,
path.link.inactive {
    opacity: .25
}

g.colored:hover text.tooltiptext,
g.colored.selected text.tooltiptext,
g.colored.selected:hover text.tooltiptext  {
    fill: #373F48;
    stroke: #373F48;
    font-size: 68px;
    stroke-width: 2;
}

#mousexy,
#graphxy {
    padding-left: 10px;
    padding-right: 10px;
}


/* Flow Header Content */
.flow-header-content {
    position: absolute;
    right: 0;
    left: 0;
}

.flow-header-content #create-nodes {
    float: left;
    background-color: white;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    padding: 5px;
    margin-right: 8px;
    display: none;
}

.flow-header-content button {
    float: left;
    font-size: 18px;
    border: none;
    background-color: transparent;
    padding: 6px;
    margin-right: 10px;
}

.flow-header-content .drag-create-img {
    height: 25px;
    width: 115px;
    margin: 5px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.flow-header-content .drag-create-img:hover {
    margin-bottom: 0px;
}

.flow-header-content #delete-icon {
    display: none;
    float: left;
    font-size: 18px;
}

.flow-header-content .node-filter {
    position: relative;
    float: left;
}

.flow-header-content .filter-input {
    height: 35px;
    border: 1px solid #d7d7d7;
    border-radius: 4px 4px 4px 4px;
    padding-left: 8px;
    padding-right: 26px;
    width: 240px;
}

.flow-header-content .node-filter .fa {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 18px;
}