
#D3DataFlow {
     background-color: #e7ebee;
}

#flow {
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.flow-overlay {
    fill: none;
    stroke-width: 1px
}

#mark-end-arrow {
    fill: #373F48;
    stroke: #373F48;
}


/* Nodes */
g {
    fill: #fff;
    stroke: #373F48;
    stroke-width: 1.5;
}

g.undefined {
    fill: #e7ebee;
    stroke: #373F48;
}

g:hover {
    stroke: #0271b1;
    stroke-width: 3;
}

g.selected {
    stroke: #0271b1;
    stroke-width: 4;
}

g.selected:hover {
    stroke: #0271b1;
    stroke-width: 5;
}

g.colored.job-node {
    fill: #ff9233;
    stroke: #ff9233;
    stroke-width: 0;
}

g.colored.chart-node {
    fill: #ff9233;
    stroke: #ff9233;
    stroke-width: 0;
}

g.colored.datasource-node {
    fill: #0271b1;
    stroke: #0271b1;
    stroke-width: 0;
}

g.colored.dashboard-node {
    fill: #0271b1;
    stroke: #0271b1;
    stroke-width: 0;
}

g.colored:hover {
    fill: white;
    stroke: #d62728;
    stroke-width: 2;
}

g.colored.selected {
    fill: white;
    stroke: #d62728;
    stroke-width: 3;
}

g.colored.selected:hover {
    fill: white;
    stroke: #d62728;
    stroke-width: 4;
}


/* Text / Icons */
g text {
    font-size: 20px;
    text-anchor: middle;
    pointer-events: none;
    fill: #373F48;
    stroke: #373F48;
    stroke-width: 1;
}

g.colored text {
    fill: #fff;
    stroke: #fff;
    stroke-width: 0;
    font-weight: 100;
}

g.colored:hover text,
g.colored.selected text,
g.colored.selected:hover text {
    fill: #373F48;
    stroke: #373F48;
}

g text.node-icon {
    font-size: 24px;
    font-weight: 100;
    text-anchor: middle;
    pointer-events: none;
    fill: #373F48;
}

g.colored text.node-icon {
    font-size:24px;
    font-weight: 100;
    text-anchor: middle;
    pointer-events: none;
    fill: white;
    stroke-width: 0;
}


/* Edges */
path.link {
    fill: none;
    stroke: #373F48;
    stroke-width: 3px;
    cursor: default;
}

path.link:hover {
    stroke: #0271b1;
    stroke-width: 4px;
}

path.link.selected {
    stroke: #0271b1;
    stroke-width: 5px;
}

path.link.selected:hover {
    stroke: #0271b1;
    stroke-width: 5px;
}


/*  */
g.inactive,
g.inactive text,
path.link.inactive {
    opacity: .1
}

g.colored:hover text.tooltiptext,
g.colored.selected text.tooltiptext,
g.colored.selected:hover text.tooltiptext  {
    fill: #373F48;
    stroke: #373F48;
    font-size: 68px;
    stroke-width: 2;
}

#mousexy,
#graphxy {
    padding-left: 10px;
    padding-right: 10px;
}


/* Flow Header Content */
.flow-header-content {
    margin-top: 8px;
    margin-right: 8px;
    position: absolute;
    right: 0;
}

.flow-header-content #create-nodes {
    position: inherit;
    top: 40px;
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    left: -43.25px;
    display: none;
}

.flow-header-content #create-nodes:after {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    right: 122px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
}

.flow-header-content #create-nodes:before {
    content: '';
    display: block;
    position: absolute;
    top: -11.6px;
    right: 121px;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 11px solid #ccc;
}

.flow-header-content .create-btn {
    float: left;
    margin: 7px;
    font-size: 18px;
}

.flow-header-content .drag-create-img {
    height: 32px;
    margin: 6px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-left: 20px;
}

.flow-header-content .drag-create-img:hover {
    margin-bottom: 0px;
}

.flow-header-content #delete-icon {
    display: none;
    float: left;
    margin: 6px;
    font-size: 18px;
}

.flow-header-content .node-filter {
    float: left;
}

.flow-header-content .filter-input {
    height:35px;
    border:none;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 4px 4px 4px 4px;
    padding-left: 8px;
    padding-right: 26px;
    width: 240px;
}

.flow-header-content .node-filter .fa {
    /* color: #0291E3; */
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 18px;
}