/* Run button */
.job-detail .run-btn {
    padding: 0;
    font-size: 18px;
}

.job-detail .is-active-switch label {
    padding: 0;
    margin: 0;
}

/* The switch - the box around the slider */
.job-detail .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    top: 5px;
}

/* Hide default HTML checkbox */
.job-detail .switch input {
    display: none;
}

/* The slider */
.job-detail .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.job-detail .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.job-detail  input:checked + .slider {
    background-color: #0291E3;
}

.job-detail input:focus + .slider {
    box-shadow: 0 0 1px #0291E3;
}

.job-detail input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.job-detail .slider.round {
    border-radius: 25px;
}

.job-detail .slider.round:before {
    border-radius: 50%;
}
