.chat-panel {
  border: none;
  box-shadow: none;
  padding-top: 8px;
}

.chat-panel p {
    padding-left: 10px;
}

.chat-panel .panel-body {
    padding: 0;
    padding-top: 15px;
}

.chat-panel  ul.chat {
  list-style: none;
  padding: 0;
}