
.tabs {
    height: 100%;
    background-color: #FFF;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
}

.tabs-menu-item a {
    cursor: pointer
}

.nav.nav-tabs {
    border:none
}

.nav-tabs>li {
    margin-bottom: 0;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    border:none
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #e7ebee;
}

.nav>li>a:focus, 
.nav>li>a:hover {
    border:none
}

.nav-tabs>li>a,
.nav-tabs>li>a:hover  {
    margin-right:0;
    border:none;
}

.item-options i {
  font-size: x-large;
  color: #0271b1;
}

.nav-tabs {
  background-color: #e7ebee;
  box-shadow: 0px -4px 3px -3px rgb(187, 187, 187);
  border: none;
}

.item-options .btn-default,
.item-options .btn-default:hover,
.item-options .btn-default:focus {
  background-color: transparent;
  border: none;
  outline: none;
}