
.info-tab .node-title-section {
    padding: 15px;
}

.info-tab .node-title-section h1 {
    padding-bottom: 10px;
}

.info-tab .node-title-section p {
    margin-bottom: 0;
}

.info-tab .node-info-section {
    padding: 15px;
}
.info-tab .node-comments {
    padding: 15px;
}

.info-tab .col {
    padding:0;
    margin:0
}