
.info-tab .section1 {
    border-right: solid 1px rgb(204, 204, 204);
}

.info-tab .node-title-section {
    padding: 15px;
}

.info-tab .node-title-section h1 {
    margin-bottom: 10px;
}

.info-tab .node-title-section p {
    margin-bottom: 0;
}

.info-tab .node-info-section {
    padding: 15px;
}
.info-tab .node-detail-section {
    padding-left: 15px;
}