
.gallery {
    padding:5px;
}

.gallery .gallery-item-wrapper {
    padding: 3px;
}

.gallery .gallery-item {
  padding: 5px;
  box-shadow: 1px 1px 2px 0 #ccc;
  border-radius: 3px;
  overflow:  hidden;
  background: #fff;
}

.gallery.dark .gallery-item {
  background: #026aa7;
}

.gallery a,
.gallery a:hover {
  text-decoration: none;
}

.gallery.dark a,
.gallery.dark a:hover {
  color: #fff
}

.gallery .gallery-item-preview {
  padding: 5px;
}

.gallery .gallery-item-preview img {
  margin: auto;
  margin-bottom: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

.gallery .gallery-item-title {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.gallery .gallery-item i {
  font-size: larger;
  color: #4c5763;
  padding: 10px;
}

/*@media only screen and (min-width:  1224px) {
  .gallery .gallery-item {
    width: 19.5%;
    margin-left: 0.38%;
  }
  .gallery.dashbords .gallery-item {
    width: 32.7%;
    margin-left: 0.38%;
  }
}

@media only screen and (min-width:  768px) and (max-width:  1024px) {
  .gallery .gallery-item {
    width: 23.5%;
  }
  .gallery.dashbords .gallery-item {
    width: 48.5%;
  }
}

@media only screen and (min-width:  320px) and (max-width:  480px) {
  .gallery .gallery-item {
    width: 97%;
  }
}*/