
.auth {
  background-color:#4C5763;
}

.auth .signin-panel {
  padding-top: 125px;
}

.auth .signin-panel .panel {
  border-radius: 6px;
}

.panel-default>.panel-heading {
  background-color: #F1F2F4;
  height: 42px;
  padding: 12px 15px;
}

.auth .panel-body {
  padding: 30px;
}

.auth .form-control {
  height: 42px;
  font-size: 16px;
}

.auth .signup {
  position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}