
color-scheme {

  /* blue */
  color: #1f77b4;
  /* orange */
  color: #ff7f0e;
  /* red */
  color: #d62728;
  /* green */
  color: #2ca02c;
  /* purple */
  color: #9467bd;
  /* brown */
  color: #8c564b;


  /* blue accent */
  color: #0291E3;
  /* orange accent */
  color: #FF851A;
  /* dark background  */
  color: #4C5763;
  /* light background */
  color: #F1F2F4;
  color: #e7ebee;
  /* font color light */
  color: #FBFCFF;
  /* font color dark */
  color: #373F48;

}

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #FFF;
    font-family: "Open Sans", sans-serif;
}

pre {
    background-color: #FFF;
}

.page-content-wrapper {
  margin-top: 50px;
}

.sidebar-page {
  position: absolute;
  right:0;
  left:0;
  top:50px;
  bottom:0;
}

.page-content {
  height: 1500px;
}

.page-content.white {
  background-color: #FFF;
}

@media(max-width: 767px) {
    .sidebar {
        display: none;
    }
    .sidebar-page {
        margin-left: 0;
    }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1 {
  clear: both;
  color: #0291E3;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 0;
  font-size: 2em;
}

.btn-primary {
  background-color: #0291E3;
  border-color: #0291E3; 
}

.btn-primary:hover {
  background-color: #0291E3;
  border-color: #0291E3; 
}


/* Default modal styles */
.modal-dialog {
    min-width: 60%;
}

.modal-body {
    overflow-y: auto;
}

.ReactCodeMirror .CodeMirror {
    height: auto;
}