
.home .user-section {
  float:left;
  width: 25%;
}

.home .cloud-sections {
  float:right;
  width: 75%;
  padding-left: 35px;
  padding-right: 50px;
}

.home .cloud-sections .cloud-section {
  padding-top:20px;
  padding-bottom:20px;
  clear: both
}

.home .cloud-sections .cloud-section .cloud-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.1;
  color: #333;
}

.home .cloud-sections hr {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 1px solid #ccc;
    padding-top: 20px; 
    margin:0;
    clear: both;
}

.home .cloud-sections .cloud-section .cloud-section-header {
  margin-left:9px;
}

.home .user-section {
  background-color: #4c5763;
  height: 800px
}

.home .user-section h1 {
  color: white;
  margin-top: 20px;
}

.home .new-cloud-button {
    margin: auto;
    display: block;
}

.home .cloud-section a i {
  color: grey;
  font-size: 20px;
}

.home .cloud-section a i:hover {
  color: #4c5763;
}

.home .cloud-edit-icon {
  padding-right: 10px;
}

.home a,
.home a:hover {
  text-decoration: none;
}

.home .cloud-icon {
  height: 25px;
  padding-bottom:5px;
  margin-right:5px;
}
