
#top-nav-wrapper {
  margin: 0;
  background-color: #0291E3 !important;
  border: none;
  border-radius: 0;
  height: 50px;
}

#top-nav-wrapper .navbar-brand img {
  height: 50px;
  margin-left: 20px;
}

#top-nav-wrapper .navbar-brand {
  margin: 0;
  padding: 0;
}

#top-nav-wrapper #top-menu-wrapper a i,
#top-nav-wrapper #top-menu-wrapper a {
  color: #fff;
}

#top-nav-wrapper #top-menu-wrapper a:hover {
  background-color: #4c5763;
}

#top-nav-wrapper .nav .open>a,
#top-nav-wrapper .nav .open>a:focus,
#top-nav-wrapper #top-menu-wrapper .open>a:hover {
  background-color: #4c5763;
}

#top-nav-wrapper #top-menu-wrapper .navbar-header {
  display: inline-block;
}

#top-nav-wrapper #top-menu-wrapper .navbar-default .navbar-brand,
#top-nav-wrapper #top-menu-wrapper .navbar-default .navbar-brand:focus,
#top-nav-wrapper #top-menu-wrapper.navbar-default .navbar-brand:hover {
  color: #fff;
}

#top-nav-wrapper #top-menu-wrapper a.navbar-brand:hover {
  background-color: #0291E3;
}

#top-nav-wrapper .navbar-dropdown-header {
  margin-left: 20px;
}

#top-nav-wrapper #top-menu-wrapper .dropdown-menu {
  margin: 0;
  padding: 0;
  background-color: #4c5763;
  margin-top: -1px;
  margin-right: -1px;
  border-radius: 2px;
  min-width: 200px;
  border: none;
}

#top-nav-wrapper #top-menu-wrapper .dropdown-menu li {
  width: 100%;
}

#top-nav-wrapper #top-menu-wrapper .dropdown-menu li a {
  padding: 8px;
  padding-left: 15px;
}

#top-nav-wrapper #top-menu-wrapper .dropdown-menu li a i {
  margin: 5px;
  margin-right: 10px;
  font-size: 18px;
}

#top-nav-wrapper #top-menu-wrapper .dropdown-menu li a:hover {
  background-color: #373F48;
}

#top-nav-wrapper #top-right-nav-options {
  margin: 0;
  font-size: 16px;
}

#top-nav-wrapper #top-right-nav-options li {
  display: inline-block;
  cursor: pointer;
}

#top-nav-wrapper #top-right-nav-options .fa-caret-down {
  margin: 2px;
}

#top-nav-wrapper #top-right-nav-options .dropdown-toggle {
  height: 50px;
  padding-top: 14px;
}

#top-nav-wrapper #menu-toggle {
  display: none;
  padding-right: 0;
}

#top-nav-wrapper #menu-toggle.toggled {
  display: inline-block;
}

@media(max-width: 767px) {

  #top-nav-wrapper #menu-toggle {
    display: inline-block;
  }

}