.board-code-tab {
    height: 100%;
    box-sizing: border-box;
}

.board-code-tab .ReactCodeMirror {
    box-sizing: border-box;
    height: 100%;
}

.board-code-tab .CodeMirror {
    height: 100%;
    box-sizing: border-box;
}