
.cloud-section a i {
    font-size: 15px;
}

.cloud-section {
  clear: both;
}

.cloud-section-header,
.cloud-section-quicklinks {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.cloud-section .cloud-icon {
  height: 25px;
  padding-bottom: 5px;
  margin-right: 15px;
  width: 35px;
}

.cloud-section .cloud-section-header .cloud-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.1;
  color: #333;
}

.cloud-section .cloud-button {
  margin: 0;
  margin-left: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.cloud-section .float-right {
  float: right;
  padding-top: 5px;
}
